<script type="text/javascript"> 
			
$(document).ready( function() {
                                                                                    
    $("#browser").treeview({
        collapsed: true,
    });
    
    $('input#files_').click(function(){
        op = $(this).is(':checked');
        $(this).parent().find('input').each(function(){
            $(this).attr('checked', op);
        });
    });

});


				
</script>

<div class="content-header" >
    <h2><%= @project.name %></h2>
    <p>Total commits: <%= @commits.count %></p>
    <p><%= @project.description %></p>
</div>

<div class="content-left-bar">

    <div id="cloud-tags" >
        <h2>Cloud Tags</h2>
        <ul>
        <% @tags.each_key do |tag| %>
            <% if (@tags[tag] - @count_min_word).to_f / (@count_max_word - @count_min_word).to_f > 0.30 %>
                <li style="font-size: <%= (50 * (@tags[tag] - @count_min_word)) / (@count_max_word - @count_min_word) %>px;"><%= tag %>(<%= @tags[tag] %>)</li>
            <% end %>
        <% end %>
        </ul>
    </div>
    
</div>

<div class="content-right">
    <h2>Coevolution Analysis</h2>
    <div id="files-tree" style = "clear: both;">
        <%= form_tag 'coevolution', :class => "analysis", :remote => true do |f| %>
            <p><b>Begin commit date:</b><%=  select_date @commits.first.date, :use_month_numbers => true %><p>
            <p><b>End commit date:</b><%=  select_date @commits.last.date, :use_month_numbers => true %><p>
            <ul id="browser" class="filetree">
                <% for line in @print_dir %>
                <%= line.html_safe %>
                <% end %>
            </ul>
            <%= submit_tag "Generate analysis" %>
        <% end %>
    </div>
    <div id="graph-result"></div>
</div>









