<script type="text/javascript"> 
			
$(document).ready( function() {
                                                                                    
    $("#browser").treeview({
        collapsed: true,
    });
    
    $('input#files_').click(function(){
        op = $(this).is(':checked');
        $(this).parent().find('input').each(function(){
            $(this).attr('checked', op);
        });
    });

});


				
</script>


<h1><%= @project.name %></h1>
<p>Total commits: <%= @commits.count %></p>
<div id="cloud-tags" style = "width: 600px;">
    <h2>Cloud Tags</h2>
    <ul>
    <% @tags.each_key do |tag| %>
        <% if (@tags[tag] - @count_min_word).to_f / (@count_max_word - @count_min_word).to_f > 0.30 %>
            <li style="font-size: <%= (50 * (@tags[tag] - @count_min_word)) / (@count_max_word - @count_min_word) %>px;"><%= tag %>(<%= @tags[tag] %>)</li>
        <% end %>
    <% end %>
    </ul>
</div>





<div id="files-tree" style = "clear: both;">
    <ul id="browser" class="filetree">
    
        <% levels = @p_files.first.path_name.split('/')[0..-2] %>
        
        <%= form_tag :action => 'coevolution' do |f| %>
        <% i = 0 %>
        <% for p_file in @p_files %>
            <% p_file.path_name = p_file.path_name.split '/' if p_file.path_name.class != Array %>
            <% if (compare_tree_dir p_file.path_name, levels )  >= 0  %>
                <% levels.push p_file.path_name.last if (compare_tree_dir p_file.path_name, levels )  == 1%>
                <% if !@p_files[i + 1].nil? %>
                    <% if (compare_tree_dir @p_files[i + 1].path_name.split('/'), levels) == 1 %>
                        <li>
                            <%= check_box_tag 'files[]', p_file.id%> <span class="folder"><%=p_file.path_name.last %></span>
                            <ul>
                        <% levels.push @p_files[i + 1].path_name.split('/').last %>
                    <% else %>
                        <li>
                            <%= check_box_tag 'files[]', p_file.id%> <span class="file"><%=p_file.path_name.last %></span>
                        </li>
                        <% levels.pop %>
                    <% end %>
                <% else %>
                        <li>
                            <%= check_box_tag 'files[]', p_file.id%> <span class="file"><%=p_file.path_name.last %></span>
                        </li>
                <% end %>
            <% else %>
                    </ul>
                </li>
                <% levels.pop %>

                <% redo %>

            <% end %>
            
            <% i += 1 %>
        <% end %>

        <% while levels.length > 1 %>
            </ul>
            </li>
            <% levels.pop %>    
        <% end %>
        
    </ul>
    
    <%= submit_tag "Generate analysis" %>

    <% end %>
</div>







<% @coevolution_files.each_key do |file_key| %>
    <h3><%= file_key.path_name %></h3>
    <table>
        <% @coevolution_files[file_key].each_key do |co_file_key| %>
            <tr>
                <td><%= co_file_key.path_name %></td>
                <td><%= @coevolution_files[file_key][co_file_key] %></td>
            </tr>
        <% end %>
    </table>
    <br />
    <br />
<% end %>
